body {
  font-family: Indie flower;
}

.post-it {
  width: 15em;
  height: 10em;
  margin: 33px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.44);
  transition: transform 1s;
}

.post-it p {
  font-size: 2em;
  margin-bottom: 15px;
  font-weight: bold;
}

.post-it span {
  font-size: 1.05em;
}

.yellow {
  background: rgb(203, 203, 171);
  background: linear-gradient(
    0deg,
    rgba(203, 203, 171, 1) 9%,
    rgba(253, 253, 203, 1) 32%
  );
  transform: rotate(-365deg);
}

.green {
  background: rgb(146, 173, 147);
  background: linear-gradient(
    0deg,
    rgba(146, 173, 147, 1) 4%,
    rgba(184, 220, 186, 1) 32%
  );
  transform: rotate(365deg);
}

.violet {
  background: rgb(146, 147, 180);
  background: linear-gradient(
    0deg,
    rgba(146, 147, 180, 1) 4%,
    rgba(192, 193, 231, 1) 32%
  );
  transform: rotate(-365deg);
}

#postit {
  width: 100%;
  display: flex;
  justify-content: center;
}
#postiIt-container {
  width: 80em;
  height: 30em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #666666;
  margin-top: 5em;
}

/*ANIMAZIONI*/

.post-it:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.first {
  animation: animationPost 1s linear;
}

.second {
  animation: animationPost2 1s linear 2s;
}

.third {
  animation: animationPost 1s linear 4s;
}

.fourth {
  animation: animationPost2 1s linear 6s;
}

.fifth {
  animation: animationPost 1s linear 8s;
}

.sixth {
  animation: animationPost 1s linear 10s;
}
.seventh {
  animation: animationPost 1.5s linear 12s;
}
.eighth {
  animation: animationPost2 1s linear 14s;
}

@keyframes animationPost {
  0% {
    transform: translate(-300px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px);
    transform: rotate(-365deg);
    opacity: 1;
  }
}

@keyframes animationPost2 {
  0% {
    transform: translate(-300px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    transform: rotate(365deg);
    opacity: 1;
  }
}
